.activeMnu {
    border: beige;
    color: rgb(42, 30, 210);
    background-color: rgb(126, 7, 7);
}

.ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link {
    padding: 1em 0.8em !important;
    color: rgb(42, 30, 210);
  }
  