<app-menu></app-menu>
<!-- <pdf-viewer [src]="doc" [render-text]="true" style="display: block;">
</pdf-viewer> -->
<!-- <app-footer></app-footer> -->

<!-- <a [href]="doc" target="_blank" >คู่มือการใช้งาน</a>  style="width:350px;"-->
<div class="container">
    <!-- style="background-color: rgb(221, 226, 238);" -->
    <div class="row">
        <!-- <div class="col-5    mt-1  ">

            <p-messages severity="info">
                <ng-template pTemplate>
                    <div  *ngIf="cntUsr">
                        <img src="./assets/images/doh.jpg" width="32" />
                        <div class="p-ml-3"> จำนวนผู้ลงทะเบียน: {{cntUsr}}</div>
                    </div>
                </ng-template>
            </p-messages>
        </div> -->
 
        <div class="col-12    mt-1  ">
        
          <h1>  
        ระบบงานนี้ใช้สำหรับ
        </h1>
      
            <p-dialog header="ระบบใบรับรองภาษี สลิปรายบุคคล" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
                <span class="p-text-secondary block mb-5"> {{msg}}</span>
                        </p-dialog>
        


<h2>
<ul style="line-height:180% ">
    <li>กรณีใช้ผ่าน Google Chrome แล้วไม่สามารถเข้าระบบได้ ให้สังเกตจำนวนผู้ลงทะเบียนว่าเป็น 0 หรือไม่ ให้ทำการกดปุ่ม F5 จากนั้นทำการเข้าระบบ</li>
    <li>ใบรับรองภาษี ข้าราชการ,ลูกจ้างประจำ ปัจจุบัน</li>
    <li>ใบรับรองภาษี ข้าราชการ,ลูกจ้างประจำ ผู้รับบำนาญ เกษียณอายุราชการ</li>
    <li>สลิปรายบุคคล ข้าราชการ,ลูกจ้างประจำ ปัจจุบัน</li>
    <li>กรณีผู้เกษียณ เลือกปี พ.ศ.ภาษี ตรงกับปีที่เกษียณ จะมีรายงานสองหน้าโดยหน้าที่ หนึ่งจะเป็นข้อมูลเดือน ม.ค.-ก.ย. หน้าที่สองเป็นเดือน ต.ค.-ธ.ค.</li>
</ul>
</h2>
<h1>
    <p>สอบถามปัญหา</p>
    ศูนย์เทคโนโลยีสารสนเทศ กรมทางหลวง โทร. 26727 , 26728 ฝ่ายบัญชี โทร. 25035, 25036
</h1>

            <!-- <img src="./assets/images/yt.jpg" class="center" /> -->
        </div>
    </div>

</div>